<div style="text-align: right; margin-bottom: -20px;">
    <input type="text" id="txt_form_number" placeholder="Form number" style="width: 135px;">
</div>
<%= form[0].template %>
<div style="text-align: right; margin-top: 25px;">
    <a href="#" id="btn_create" class="btn btn-primary" data-type-id="<%= form[0].id %>">Create record</a>
</div>
<script src="/assets/js/pages/forms.js"></script>