<div>
  <h1>Dashboard<br></h1>

  <div class="ct-chart"></div>

</div>
<script>

  new Chartist.Line('.ct-chart', {
    labels: <%= status_labels %>,
    series: [
      <%= status_labels_total %>
    ]
  }, {
    height: 300,
    axisY: {
      onlyInteger: true
    },
    low: 0,
    showArea: true
  });

</script>