<h3>Messages > New</h3>

<label for="txt_message" style="display: block; margin-bottom: 5px;">Message</label>
<textarea id="txt_message" placeholder="Write your message" name="message"></textarea>

<div style="text-align: right;">
    <button id="btn_send_message" class="btn btn-primary" style="width: 120px;">Send message</button>
</div>